.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/library.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
}

.banner h1{
	font-size: 50px;
	font-weight: bolder;
}
.banner h2{
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 40px;
}